@charset "utf-8";

body {
	background-color: #e4d7bc;
	margin:0px;
	font-size:12px;
	font-family:微软雅黑;
}
img {
	border:none;
}

/*  链接样式部分 */
a:link {
	color:#000;
	text-decoration:none;
}
a:visited {
	color:#000;
	text-decoration:none;
}
a:hover {
	color:#A92E30;
	text-decoration:underline;
}

/************/

a.topMenu:link {
	color: #fff0cc;
	text-decoration:none;
}
a.topMenu:visited {
	color: #fff0cc;
	text-decoration:none;
}
a.topMenu:hover {
	color:#37A2C9;
}

/************/

a.moreLink:link {
	color:#fff0cc;
	text-decoration:underline;
}
a.moreLink:visited {
	color:#fff0cc;
	text-decoration:underline;
}

/************/

a.more2Link:link {
	color:#a1a1a1;
	text-decoration:underline;
}
a.more2Link:visited {
	color:#a1a1a1;
	text-decoration:underline;
}
a.more2Link:hover {
	color:#222222;
	text-decoration:underline;
}
/************/

a.headTxt:link {
	color:#fff4be;
	text-decoration:none;
}
a.headTxt:visited {
	color:#fff4be;
	text-decoration:none;
}
a.headTxt:hover {
	color:#FC0;
	text-decoration:none;
}


/*************/

a.tabLink:link {
	color:#fff;
}
a.tabLink:visited {
	color:#fff;
}
a.tabLink:hover {
	color:#37A2C9;
	text-decoration:none;
}

a.tabALink:link {
	color:#8d3637;
}
a.tabALink:visited {
	color:#8d3637;
}
a.tabALink:hover {
	color:#37A2C9;
	text-decoration:none;
}
/*****************/
.redTitle:link {
	color:#8A1C1D;
}
.redTitle:visited {
	color:#8A1C1D;
}
.redTitle:hover {
	color:#37A2C9;
}
/*  首页样式部分  */

#top1 {
	background: #660000;
	color:#e7e7e7;
	padding-top:7px;
	height:29px;
}
#top2 {
	height:113px;
	background:#711F1F url(../images/top_img.jpg) no-repeat center;
}
#headTxt1 {
	height: auto;
	width: 220px;
	text-align:left;
	color:#e7e7e7;
	float:left;
	position:absolute;
}
#headTxt {
	height: auto;
	width:200px;
	text-align:right;
	color:#fff4be;
	float:right;
}
.centerDIv {
	width:1000px;
	margin-left:auto;
	margin-right:auto;
}
#menu {
	height:43px;
	width:100%; 
	margin-left:auto;
	margin-right:auto;
}
#menu #menuContent {
	color: #fff0cc;
	display:block;
	height:43px;
	width:100%;
	float:left;
	background:url(../images/menu_bg.jpg) repeat-x
}

#menu #menuContent ul {
	list-style-type: none;
	padding-top:0px;
	margin:0px;
	padding:0px;
}

#menu #menuContent span, #menu #menuContent li {
	display:block;
	float:left;
	
}

#menu #menuContent li {
	padding:9px 0px;
	height:22px;
	color:#fff;
	font-size:14px;
}
#menu #menuContent li a {
	color:#fff;
	width:100%;
	height:100%
	display:block;
	padding:10px 20px;
}
#menu #menuContent li a:hover {
	text-decoration:none;
	background:url(../images/menu_active.jpg) repeat-x;
	color:#000;
}
.menu_divider {
	width:0px;
	height:43px;
	background:url(../images/divid.gif) no-repeat 0px 9px;
}

#menuActive, .hover {
	background:url(../images/menu_active.jpg) repeat-x;
}

#menu #menuContent #menuActive a {
	color:#000;
}

#topForm {
	width:239px;
	height:25px;
	float:right;
	margin-top:8px;
}

#topForm select, #topForm #keywords {
	background:url(../images/search_bg.jpg) 0px -3px repeat-x;
	border:none;
	padding:2px;
	font-size:13px;
	color:#666;
}
#topForm select {
	float:left;
}
#searchTxt {
	display:block;
	float:left;
	width:125px;
	height:22px;
	margin-left:6px;
}
#topForm #keywords {
	padding:4px 4px 3px 0px;
	}

#topForm #searchBtn {
	width:24px;
	height:23px;
	background:url(../images/searchBtn.jpg) no-repeat;
	border:none;
	padding:4px;
}
#main {
	margin-left:auto;
	margin-right:auto;
	height:auto;
	width:100%;
}
.btmLine {
	height:7px;
	background:#924545;
}
#bottom {
	height:166px;
	background:#670000 url(../images/bottom_img.jpg) no-repeat center;
	font-size:12px;
	color:#cacaca;
}
#bottom p {
	font-size:14px;
}

#bottom a {
	color:#cacaca;
}

#content {
	margin-top:15px;
}
#mainLeft {
	width:698px;
}
#imgNews {
	float: left;
	height: 340px;
	width: 347px;
}
.titleTxt {
	font-size:16px;
	color:#fff;
	text-indent:50px;
	height:39px;
	display:block;
	float:left;
	line-height:39px;
}
#dashiji {
	width:341px;
	float:right; 
}
.newsTitle {
	font-size:14px;
	color:#8a1c1d;
}
.icon1 {
	margin-top:2px;
}
.newsTxt {
	color:#4f4f4f;
	font-family:宋体;
	line-height:16px;
	font-size:13px;
}
.newsBg {
	background:url(../images/news_bg_41.gif) repeat-y;
}
.dotline {
	background:url(../images/dotline.gif) center repeat-x;
}
.titleTxt2 {
	font-size:16px;
	color:#fff;
	text-indent:22px;
	height:39px;
	display:block;
	float:left;
	line-height:39px;
}
.newsBg2 {
	background:url(../images/news_bg_42.gif) repeat-y;
}
.hotImg {
	padding:12px;
}
#qi {
	width: 84px;
	padding-top: 6px;
	padding-bottom: 6px;
	background:#da4949;
	color: #fffefe;
	display: block;
	text-align: center;
	float: right;
	margin-top:12px;
}
.more {
	width:70px;
	font-size:12px;
	color:#fffefe;
	display:block;
	float:right;
	text-indent:0px;
	margin:0px;
	padding:0px;
	text-decoration:underline;
	line-height:39px;
	height:39px;
}
#zuopinzhanshi {
	float:left;
}
.titleTxt3 {
	font-size:16px;
	color:#fff;
	text-indent:50px;
	background-color:transparent;
	height:39px;
	display:block;
	float:left;
	line-height:39px;
}
.newsBg3 {
	background:url(../images/news_bg_62.gif) repeat-y;
	padding:15px 0px;
}
.zuopin {
	padding:3px;
	background:#fffaf0;
	border:1px solid #b5b5b5;
}
.photoTitle {
	font-size:14px;
	display:block;
	padding:5px;
}
.renwu {
	display:block;
	width:280px;
	float:left;
}
.renwu2 {
	display:block;
	width:150px;
	float:left;
}
.photoTitle2 {
	font-size:14px;
	display:block;
	padding:6px 8px 0px 8px;
	line-height:28px;
}
#shuhuajiazhanshi {
	float:left;
	margin-top:15px;
}
.shuhuajia {
	padding:3px;
	background:#fff;
	border:1px solid #b5b5b5;
}
#shuhuazhishi {
	float:left;
}
.dot {
	font-size:25px;
	font-family:宋体;
	color:#878787;
}
.dot2 {
	font-size:40px;
	font-family:宋体;
	color:#873130;
}
.titleTxt4 {
	font-size:16px;
	color:#fff;
	text-indent:25px;
	height:39px;
	display:block;
	float:left;
	line-height:39px;
}

/*  二级页面样式部分  */
.pageList {
	margin:5px 20px;
}
.pageListTitle {
	font-size:16px;
	padding-bottom:6px;
	padding-top:3px;
}
.pageListTitle2 {
	font-size:16px;
	padding-bottom:6px;
	padding-top:11px;
}
.date {
	width:auto;
	font-size:12px;
	color:#7e7e7e;
	float:right;
	text-indent:0px;
	margin-top:4px;
}
.newsBg4 {
	background:url(../images/news_bg_62.gif) repeat-y;
	padding:0px;
}
#guanfanghuodongImg {
	padding:12px;
	text-align:center;
	display:block;
}

#shouzhangTxt {
	width:137px;
	float:right;
	padding:5px 12px;
	line-height:26px;
	text-align:left;
}
.shouzhangTitle {
	font-size:16px;
	color:#812e2f;
	display:block;
	padding-bottom:10px;
}
.szxqTxt {
	line-height:26px;
	text-align:left;
	font-size:14px;
}
.szxqTitle {
	font-size:16px;
	color:#812e2f;
	display:block;
	padding-bottom:10px;
}
.newsBg6 {
	background:url(../images/news_bg6.jpg) repeat-y;
}
h2 {
	margin:0px;
	font-family:微软雅黑;
	font-size:20px;
	color:#6d0b0c;
	font-weight:normal;
}
h3 {
	margin:8px 0px 20px 0px;
	font-family:微软雅黑;
	font-size:20px;
	color:#000;
	font-weight:normal;
}

.xhjjTxt {
	line-height:26px;
	text-align:left;
	font-size:14px;
	display:block;
	margin:28px 48px;
}
.tabNormal {
	font-size:14px;
	width:95px;
}
.tabActive {
	font-size:16px;
	color:#8d3637;
	background:url(../images/tab_bg.jpg) no-repeat center bottom;
	height:39px;
	width:95px;
	padding-top:5px;
}
.tabDiv {
	padding-top:5px;
}
.tbTxt {
	color:#fff;
	padding-left:30px;
	font-size:14px;
}
#renwuTxt{
	width:340px;
	float:right;
	padding:5px 12px;
	line-height:26px;
	text-align:left;
	font-size:14px;
}
.more2 {
	width:70px;
	font-size:12px;
	color:#a1a1a1;
	float:right;
	text-indent:0px;
	margin-top:4px;
	text-decoration:underline;
}

/*  三级页面样式部分  */
.newsContent {
	padding-top:35px;
}
h1 {
	font-family:微软雅黑;
	font-size:20px;
	font-weight:normal;
}
.newsInfo {
	color:#7e7e7e;
}
.newsTxt2 {
	font-size:14px;
	padding:15px;
	line-height:25px;
}
.newsPage {
	color:#838383;
}
.newsPageActive {
	color:#d1292b;
}
a.newsPage:link {
	color:#838383;
}
a.newsPage:visited {
	color:#838383;
}
a.newsPage:hover {
	color:#fd6f71;
	text-decoration:none;
}
a.newsPageActive:link {
	color:#d1292b;
}
a.newsPageActive:visited {
	color:#d1292b;
}
a.newsPageActive:hover {
	color:#fd6f71;
	text-decoration:none;
}
.button1 {
	padding:1px 15px;
	background:#FD6F71;
	color:#fff;
	border:none;
}
#zuopinPre {
	width:47px;
	text-align:center;
	float:left;
}
#zuopinNext {
	width:47px;
	text-align:center;
	float:right;
}
#zuopinImg {
	widows:720px;
}


.rounded {border-radius:9px;-moz-border-radius:9px;-webkit-border-radius:9px;box-shadow:0 0 0px #EEEEEE;border:1px solid #EEEEEE
;
width:500px;
height:400px;
overflow:hidden;
}

.rounded2 {border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;box-shadow:0 0 0px #EEEEEE;border:1px solid #EEEEEE
;
overflow:hidden;
}

.rounded3 {border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;box-shadow:0 0 0px #EEEEEE;border:none;
overflow:hidden;
}